@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    font-family: "Quicksand", serif;
}

/* shared styles */

body {
    background-color: #F7F7F7;
}

.display-flex {
    display: flex;
}

.section-title {
    font-size: 46px;
    font-weight: 700;
    color: #000;
    margin-bottom: 80px;
    margin-top: 60px;

}

/* navbar styles */

.navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.nav-logo {
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-logo img {
    width: 62px;
    height: 62px;
}

.nav-list {
    display: flex;
    gap: 32px;
    align-items: center;
}

.nav-title {
    font-size: 1.7rem;
    font-weight: 700;
    color: #111;
}

.nav-list li {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
}

#item-1 {
    color: #FEA301;
}

#item-2 {
    color: #01ACFD;
}

#item-3 {
    color: #05D4DF;
}

#item-4 {
    color: #5D58EF;
}

.btn-primary {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px;
    color: #FFF;
    background-color: #FEA301;
    border-radius: 12px;
    border: none;
    width: 190px;
}

/* Responsive Header for Mobile Devices */



/* banner section styles */

.banner {
    margin: 0 135px;
    gap: 45px;
}

.banner-title {
    margin: 125px 0 20px 0;
    font-size: 56px;
}

#text-1 {
    color: #FEA301;
}

#text-2 {
    color: #01ACFD;
}

.banner-description {
    font-size: 20px;
}

.btn-secondary {
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    width: 190px;
    padding: 10px;
    background-color: #111;
    border-radius: 12px;
    border: none;
}

/* Responsive Banner for Mobile Devices */


/* Curriculum section styles */

.curriculum{
    background-image: url("../assets/bg.png");
    justify-items: center;
    padding: 2px 135px;
    margin-bottom: 70px;
}

.curriculum-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 70px;
}
.curriculum-box-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #202020;
}
.curriculum-box-description{
    font-size: 1rem;
    font-weight: 500;
}
.curriculum-box-1 {
    padding: 50px 40px 50px 40px;
    border-radius: 18.864px;
    text-align: center;
    border: 0.943px solid #DEF5FF;
    background: linear-gradient(180deg, #DEF5FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.curriculum-box-2 {
    padding: 50px 40px 50px 40px;
    border-radius: 18.864px;
    text-align: center;
    border: 0.943px solid #FFF4DC;
    background: linear-gradient(180deg, #FFF4DC 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.curriculum-box-3 {
    padding: 50px 40px 50px 40px;
    border-radius: 18.864px;
    text-align: center;
    border: 0.943px solid #F2E8FF;
    background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;

}

#btn-angle {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #FEA301;
    border: none;
    margin-left: 10px;
}
.fa-solid{
    height: 24px;
    width: 16px;
    font-size: 25px;
    font-weight: 900;
    color: #FFF;
    justify-content: center;
}

/* Responsive Curriculum for mobile devices */

/* Stories section styles */

.stories{
    padding: 20px 135px;
    justify-items: center;
    background-image: url("../assets/bg.png");
    margin-bottom: 60px;
}
.stories-container{
    display: flex;
    gap: 20px;
}
.column-1{
    width: 540px;
    height: 630px;
    border-radius: 16px;
    background-color: #FFF;
}
.column-1 img{
    width: 540px;
    height: 340px;
    border-radius: 16px 16px 0 0;
}
.column-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.story-content{
    padding: 35px;
}
.story-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}
.story-description{
    font-size: 1rem;
    font-weight: 500;
    color: #666;
}
#column-1-date{
    width: 175px;
    height: 47px;
    border-radius: 47px;
    border: none;
    background-color: #3CD8E8;
    transform: translate(10%, -65%);
}

