@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    font-family: "Quicksand", serif;
}

/* shared styles */

body {
    background-color: #F7F7F7;
}

.display-flex {
    display: flex;
}

.section-title {
    font-size: 2.9rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 80px;
    margin-top: 60px;

}

/* navbar styles */

.navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.nav-logo {
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-logo img {
    width: 62px;
    height: 62px;
}

.nav-list {
    display: flex;
    gap: 32px;
    align-items: center;
}

.nav-title {
    font-size: 1.7rem;
    font-weight: 700;
    color: #111;
}

.nav-list li {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
}

#item-1 {
    color: #FEA301;
}

#item-2 {
    color: #01ACFD;
}

#item-3 {
    color: #05D4DF;
}

#item-4 {
    color: #5D58EF;
}

.btn-primary {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px;
    color: #FFF;
    background-color: #FEA301;
    border-radius: 12px;
    border: none;
    width: 190px;
}

/* Responsive Header for Mobile Devices */
@media screen and (max-width: 576px) {
    .nav-title, .nav-list, .nav-button{
        display: none;
    }
    .nav-logo{
        margin-bottom: 20px;
    }
    .navbar{
        border-bottom: 1px solid #FEA301;
    }
}


/* banner section styles */

.banner {
    margin: 0 135px;
    gap: 45px;
}

.banner-title {
    margin: 125px 0 20px 0;
    font-size: 3.5rem;
}

#text-1 {
    color: #FEA301;
}

#text-2 {
    color: #01ACFD;
}

.banner-description {
    font-size: 20px;
}

.btn-secondary {
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    width: 190px;
    padding: 10px;
    background-color: #111;
    border-radius: 12px;
    border: none;
}

/* Responsive Banner for Mobile Devices */
@media screen and (max-width: 576px) {
    .banner{
        flex-direction: column-reverse;
        justify-content: end;
        margin: 0 20px;
        justify-items: center;
        gap: 30px;
    }
    .banner-title {
        margin: 0;
        font-size: 2rem;
        text-align: center;
    }
    .banner-description{
        text-align: center;
    }
    .section-title{
        font-size: 1.7rem;
        text-align: center;
    }
}


/* Curriculum section styles */

.curriculum {
    background: url("../assets/bg.png");
    justify-items: center;
    padding: 2px 135px;
    margin-bottom: 70px;
}

.curriculum-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 50px;
}

.curriculum-box-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #202020;
}

.curriculum-box-description {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 35px;
}

.curriculum-box-1 {
    padding: 50px 40px 50px 40px;
    border-radius: 18.864px;
    text-align: center;
    border: 1px solid #DEF5FF;
    background: linear-gradient(180deg, #DEF5FF 0%, rgba(255, 255, 255, 0.00) 10%), #FFF;
    box-shadow: 0px 0px 28px 1px rgba(0, 0, 0, 0.05) inset;
}

.curriculum-box-2 {
    padding: 50px 40px 50px 40px;
    border-radius: 18.864px;
    text-align: center;
    border: 1px solid #FFF4DC;
    background: linear-gradient(180deg, #fff4dc 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28px 1px rgba(0, 0, 0, 0.05) inset;
}

.curriculum-box-3 {
    padding: 50px 40px 50px 40px;
    border-radius: 18px;
    text-align: center;
    border: 1px solid #F2E8FF;
    background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28px 1px rgba(0, 0, 0, 0.05) inset;

}
#curriculum-1{
    font-size: 1rem;
    font-weight: 700;
    color: #64C8FF;
    border: none;
    background: none;
}
#curriculum-2{
    font-size: 1rem;
    font-weight: 700;
    color: #F0AA00;
    border: none;
    background: none;
}
#curriculum-3{
    font-size: 1rem;
    font-weight: 700;
    color: #8700FF;
    border: none;
    background: none;
}

#btn-angle {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #FEA301;
    border: none;
    margin-left: 10px;
}

.fa-solid {
    height: 24px;
    width: 16px;
    font-size: 25px;
    font-weight: 900;
    color: #FFF;
    justify-content: center;
}

/* Responsive Curriculum for mobile devices */
@media screen and (max-width: 576px) {
    .curriculum{
        padding: 20px;
    }
    .curriculum-container {
        grid-template-columns: 1fr;
    }
    .curriculum .section-title{
        font-size: 2rem;
    }
    .curriculum-box-1, .curriculum-box-2, .curriculum-box-3{
        padding: 10px;
    }
}

/* Stories section styles */
:root {
    --primary: hsla(21, 56%, 90%, 0.2);
    --secondary: hsl(354, 67%, 56%, 0.4);
}

.stories {
    padding: 20px 135px;
    justify-items: center;
    background: linear-gradient(180deg, var(--primary), var(--secondary)),
        url("../assets/bg.png");
    box-shadow: 0px 0px 28.296px 0.943px rgba(59, 58, 58, 0.05);
}

.stories-container {
    display: flex;
    gap: 20px;
    width: 50%;
    justify-content: center;
    margin-bottom: 60px;
}

.column-1 {
    width: 500px;
    height: 630px;
    border-radius: 16px;
    background-color: #FFF;
}

.column-1 img {
    width: 500px;
    height: 340px;
    border-radius: 16px 16px 0 0;
}

.column-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.story-content {
    padding: 35px;
}

.story-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.story-description {
    font-size: 1rem;
    font-weight: 500;
    color: #666;
}

#column-1-date {
    width: 175px;
    height: 47px;
    border-radius: 47px;
    border: none;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0;
    color: #FFF;
    background-color: #3CD8E8;
    transform: translate(10%, -65%);
}

.short-story {
    border-radius: 16px;
    background-color: #FFF;
}

.short-story img {
    border-radius: 16px 16px 0 0;
}

.short-story-title {
    font-size: 1rem;
    font-weight: 700;
    padding: 0 35px;
    margin: 0;

}

.column-2 button {
    width: 160px;
    height: 38px;
    border-radius: 47px;
    border: none;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0;
    color: #FFF;
    transform: translate(10%, -65%);
}

#color-1 {
    background: #95B226;
}

#color-2 {
    background-color: #5D58F0;
}

.btn-view {
    width: 197px;
    padding: 10px;
    border: none;
    border-radius: 12px;
    background-color: #111;
    font-size: 1.25rem;
    font-weight: 700;
    color: #FFF;
    margin-bottom: 40px;
}

/* Responsive Stories for mobile devices */
@media screen and (max-width: 576px) { 
    .stories{
        padding: 20px;
    }
    .column-1{
        display: none;
    }
    .column-2{
        width: 100%;
        justify-content: center;
    }
    .column-2 .short-story{
        width: 160px;
    }
    .column-2 .short-story img{
        width: 160px;
    }
    .column-2 button{
        width: 100px;
        height: 30px;
        padding: 0;
        font-size: 0.6rem;
    }
    .short-story-title {
        padding:10px;
        font-size: 0.8rem;
    }
    .column-2{
        margin: 0 20px;
    }
}

/* Footer section styles */

.footer {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    padding: 110px 135px;
    justify-items: center;
    background-color: #01ACFD;
    color: #FFF;
    gap: 140px;
}

.footer-logo {
    display: flex;
    gap: 15px;
    align-items: center;
}

.footer-logo img {
    width: 80px;
    height: 80px;
    background-color: #FFF;
}

.footer-title {
    font-size: 2.5rem;
    font-weight: 700;
}

.footer-description {
    font-size: 1.2rem;
    font-weight: 400;
}

.footer-about-title {
    font-size: 1.5rem;
}

.footer-about li {
    font-size: 1.2rem;
    margin-bottom: 25px;
    list-style: none;
}

.social-title {
    font-size: 1.5rem;
}

.social-media img {
    margin-right: 10px;
}

/* Responsive Footer for mobile devices */
@media screen and (max-width: 576px){
    .footer{
        grid-template-columns: 1fr;
        padding: 20px;
        gap: 30px;
        justify-items: start;
    }
    .footer-description{
        margin: 0;
    }
    .footer-about-title{
        margin: 20px 0;
    }
    .social-title{
        margin-top: 0;
    }
    .social-media{
        justify-items: start;
        margin-bottom: 30px;
    }
}